/.private/
/.task/
*.crt
*.key
*.iso
.decrypted~*
.DS_Store
Brewfile.lock.json
Thumbs.db
kubeconfig
talosconfig

.env
.terraform*
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
