---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pdf
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      app:
        containers:
          pdf:
            image:
              repository: ghcr.io/stirling-tools/stirling-pdf
              tag: 1.6.0@sha256:1f73a8f898fe269cbbccea3be577064dd87fc4334de349fcc5b1afa1bcebf240
            env:
              TZ: ${TIMEZONE}
              DOCKER_ENABLE_SECURITY: false
              LANGS: en_US
              METRICS_ENABLED: false
              SYSTEM_DEFAULTLOCALE: en-US
              SYSTEM_ENABLEANALYTICS: false
              SECURITY_ENABLE_LOGIN: false
              SYSTEM_GOOGLEVISIBILITY: false
              SYSTEM_SHOW_UPDATE: false
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - "ALL"
            resources:
              requests:
                cpu: "10m"
                memory: "512Mi"
              limits:
                cpu: "1"
                memory: 2Gi

    service:
      app:
        controller: app
        ports:
          http:
            port: &port 8080

    route:
      app:
        hostnames:
          - pdf.marcocondrache.com
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      temporary:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /configs
            subPath: configs
          - path: /customFiles
            subPath: customFiles
          - path: /logs
            subPath: logs
          - path: /pipeline
            subPath: pipeline
          - path: /tmp
            subPath: tmp
          - path: /usr/share/tessdata
            subPath: tessdata
