---
customization:
  extraKernelArgs:
    - -init_on_alloc # Less security, faster puter
    - -init_on_free # Less security, faster puter
    - -selinux # Less security, faster puter
    - apparmor=0 # Less security, faster puter
    - init_on_alloc=0 # Less security, faster puter
    - init_on_free=0 # Less security, faster puter
    - amd_iommu=off # PCI Passthrough
    - iommu=pt # PCI Passthrough
    - amd_pstate=active # AMD P-State
    - mitigations=off # Less security, faster puter
    - security=none # Less security, faster puter
    - talos.dashboard.disabled=1
    - talos.auditd.disabled=1 # Less security, faster puter
    - -talos.halt_if_installed
  systemExtensions:
    officialExtensions:
      - siderolabs/amdgpu
      - siderolabs/amd-ucode
      - siderolabs/thunderbolt
      - siderolabs/realtek-firmware
