{% for namespace in ["external-secrets", "flux-system", "network"] %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  token: op://kubernetes/1password/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: controller-secret
  namespace: kube-system
stringData:
  token: op://kubernetes/hetzner/HETZNER_API_TOKEN
  network-id: 'op://kubernetes/hetzner/HETZNER_NETWORK_ID'
