{{ $rootDir := requiredEnv "ROOT_DIR" }}{{ exec "yq" (list "select(.kind == \"HelmRelease\").spec.values" (printf "%s/kubernetes/apps/%s/%s/app/helmrelease.yaml" $rootDir .Release.Namespace .Release.Name)) }}