router bgp 64513
  bgp router-id 10.0.10.1
  bgp default ipv6-unicast
  no bgp ebgp-requires-policy

  neighbor k8s peer-group
  neighbor k8s remote-as 64514

  neighbor 10.0.30.21 peer-group k8s
  neighbor 2a0d:3344:245b:2702:5a47:caff:fe7f:c10d peer-group k8s
exit